@charset "UTF-8";

body {
    background-color:tan;
}
* {
    box-sizing: border-box;
}
main {
    max-width: 800px;
}

article img {
    width:100%;
}

article {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
}

section img {
    width:100%;
    border: 1px solid grey;
    padding: 2px;
}

section {
    display: grid;
    grid-template-columns:50px 1fr 50px;
    align-items: center;
    
}


.kepTarolo {
    border:1px solid gray;
    border-radius: 5px;
    padding:2px;
    position:relative;
    text-align:center;
}

.kepTarolo h1 {
    position:absolute;
    top:60px;
    left:0;
    background:burlywood;
    width:100%;
    opacity:0.6;
}

.kepTaroloAktiv {
    background:coral;
}
